<%= render 'shared/error', object: @account %>

<div class="row justify-content-md-center">
    <div class="col-8 mt-3">
        <div class="card">
            <div class="card-header text-center">
                Create a new account
            </div>
            <div class="card-body ">
                <%= render 'form' %>
            </div>
        </div>
    </div>
</div>
